---
layout: page
title:  Blog Index
---

<main class="content">

  <h1 class="pagetitle">– {{ page.title }} –</h1>

  {% for post in site.posts %}
  <article class="teaser">
    <a href="{{ post.url | prepend: site.baseurl }}" class="a--reset">
      {% assign img = post.image | split: "." %}
      <img src="{{ img[0] }}-thumb.{{ img[1] }}" class="teaser__image">
    </a>

    <span class="teaser__publish-date">
      {% assign date = post.date %}
      {% include publish_date.html %}
    </span>

    <h1 class="teaser__title">
      <a href="{{ post.url | prepend: site.baseurl }}" class="a--reset">
        {{ post.title }}
      </a>
    </h1>

    <h2 class="teaser__subtitle">
      <a href="{{ post.url | prepend: site.baseurl }}" class="a--reset">
        {{ post.subtitle }}
      </a>
    </h2>

    <ul class="ul--reset teaser__tags">
      {% for tag in post.tags %}
        <li class="tag" title="Tag: {{ tag }}">{{ tag }}</li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}

  <p class="teaser teaser__footer">
    <a href="/impressum">Impressum &amp; Datenschutz</a>
  </p>

</main>
