.annotation__paragraph {
  @include font-thin-italic;
  float: left;
  margin-top: 0.6rem;
  margin-left: -140px;
  width: 120px;
  text-align: right;
  color: #555;
}

.annotation__footer {
  @include font-thin-italic;
  float: left;
  margin-top: 0.6rem;
  margin-left: -140px;
  width: 120px;
  text-align: right;
  color: #555;
}
