@import "library/colors";

.header__headline {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  max-width: 450px;
  text-align: center;
  line-height: 1;
  @include medium-view {
    left: 20px;
    padding-left: 14%;
  }
  @include broad-view {
    padding-left: 22%;
  }
  @include maximum-view {
    padding-left: 286px;
  }
}

.header__title,
.header__subtitle {
  text-transform: capitalize;
  display: inline;
  background-color: $color-red;
  box-shadow: 0.05em 0 0 $color-red, -0.05em -0 0 $color-red;
  padding: 0.2em;
  color: #fff;
  font-style: italic;
}

.header__title {
  font-size: 1.8rem;
  line-height: 2;
}

.header__subtitle {
  font-size: 1.2rem;
}
