{{ define "title" }}Home{{ end }}

{{ define "main" }}

<div class="belt-main"><main class="central-column">

  <ul class="ul-reset full-width">
    {{ range $i, $teaser := first 7 (where (where .Page.Site.RegularPages.ByPublishDate.Reverse ".Params.listed" "!=" false) "Type" "posts") }}
      <li class="teaser-listitem">{{ partial "teaser.html" . }}</li>
    {{ end }}
  </ul>

  <div class="archiveportal">
    <div class="archiveportal-title">Browse all {{ len (where (where .Page.Site.RegularPages ".Params.listed" "!=" "false") "Type" "posts") }} posts in the <a href="/archive"><button>archive</button></a></div>
  </div>

  <div class="tagbrowser">
    {{ range $category, $tags := .Site.Data.tags }}
      <div class="tagbrowser-category">
        <strong class="tagbrowser-heading">{{ $category }}</strong>
        <ul>
          {{ range $name := $tags }}
            <li class="tagbrowser-tag">
              <a href="/archive/#{{ $name | urlize }}" class="tag">{{ $name }}</a><!--
              --><span class="tagbrowser-count">({{ $.Site.Taxonomies.tags.Count $name }})</span>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

</main></div>

{{ end }}
