{{ define "title" }}Home{{ end }}

{{ define "main" }}

<main class="content">

  <h1 class="pagetitle">– Home –</h1>

  {{ range $i, $teaser := first 7 (where .Page.Site.RegularPages.ByPublishDate.Reverse "Type" "posts") }}
    {{ if eq $i 2 }}
      {{ partial "subscribe.html" }}
    {{ end }}
    {{ partial "teaser.html" . }}
  {{ end }}

  <div class="teaser teaser--flat teaser--centered">
    <h3 class="teaser__banner">Browse all {{ len (where .Page.Site.RegularPages "Type" "posts") }} posts <a href="/archive">in the archive</a>…</h3>

    <p>Or jump right into a specific tag:</p>
  
    <div class="tagbrowser">
      {{ range $category, $tags := .Site.Data.tags }}
        <div class="tagbrowser__list">
          <h4 class="tagbrowser__heading">{{ $category }}</h4>
          <ul class="ul--reset">
            {{ range $name := $tags }}
              <li class="li--reset tagbrowser__item">
                <a href="/archive/#{{ $name | urlize }}" class="a--reset tag">{{ $name }}</a><!--
                --><span class="teaser--light">({{ $.Site.Taxonomies.tags.Count $name }})</span>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>

  <div class="teaser teaser__footer teaser--light">
    <a href="/impressum" class="a--reset">Legal: Impressum &amp; Datenschutz</a>
  </div>

</main>

{{ end }}
