{{ define "title" }}Home{{ end }}

{{ define "main" }}

<div class="belt-main"><main class="central-column">

  {{ range $i, $teaser := first 7 (where (where .Page.Site.RegularPages.ByPublishDate.Reverse ".Params.listed" "!=" false) "Type" "posts") }}
    {{ partial "teaser.html" . }}
  {{ end }}

  <div class="teaser teaser--flat teaser--centered">
    <h3 class="teaser__banner cta__label">Browse all {{ len (where (where .Page.Site.RegularPages ".Params.listed" "!=" "false") "Type" "posts") }} posts <a href="/archive">in the archive</a>…</h3>

    <p>Or jump right into a specific tag:</p>
  
    <div class="tagbrowser">
      {{ range $category, $tags := .Site.Data.tags }}
        <div class="tagbrowser__list">
          <h4 class="tagbrowser__heading">{{ $category }}</h4>
          <ul class="ul--reset">
            {{ range $name := $tags }}
              <li class="li--reset tagbrowser__item">
                <a href="/archive/#{{ $name | urlize }}" class="a--reset tag">{{ $name }}</a><!--
                --><span class="teaser--light">({{ $.Site.Taxonomies.tags.Count $name }})</span>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>

</main></div>

{{ end }}
