@import "library";

html {
  background-color: $color-lightgrey1;
  @include font-regular;
  font-size: 15px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

::selection {
  color: #fff;
  background-color: $color-brown;
}

.navibar {
  z-index: 1000;
  @include narrow-view {
    position: absolute;
    top: 5px;
    width: 100%;
  }
  @include medium-view {
    position: fixed;
    left: 13px;
  }
}

.content {
  margin-left: 1em;
  margin-right: 1em;
  @include medium-view {
    margin-left: 14%;
  }
  @include broad-view {
    margin-left: 20%;
    margin-right: 3em;
  }
  @include maximum-view {
    margin-left: 240px;
  }
}

.ul--reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
