/*
 *  COLORS
 */

$color-blue:          #0d668d;
$color-purple:        #8d1699;
$color-brown:         #5a3e35;
$color-green:         #65c858;
$color-orange:        #f34c17;
$color-red:           #c0253e;
$color-yellow:        #cac43b;

$color-white:         #ffffff;
$color-lightgrey1:    #fafafa;
$color-lightgrey2:    #efefef;
$color-lightgrey3:    #e6e6e6;
$color-grey:          #888888;
$color-darkgrey1:     #999999;
$color-darkgrey2:     #9a9a9a;
$color-black:         #000000;

$color-black-shaded:  rgba(0,0,0,0.8);

/*
 *  TYPOGRAPHY
 */

@mixin font-regular {
  font-family: "Input Sans Cond Lt", "Lucida Grande", sans-serif;
  font-weight: normal;
  letter-spacing: -0.03em;
}

@mixin font-bold {
  font-family: "Input Serif Comp", "Palatino", "Book Antiqua", serif;
  font-weight: bold;
  letter-spacing: -0.07em;
}

@mixin font-thin-italic {
  font-family: "Input Sans Comp Lt", "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.03em;
}

@mixin font-mono {
  font-family: "Input Mono Narr Lt", monospace;
  font-weight: normal;
  letter-spacing: -0.05em;
}

/*
 *  LAYOUT SIZES, BREAKPOINTS
 */

$width-content-column:  550px;
$width-navibar:         33px;
$width-layout-medium:   569px;
$width-layout-broad:    1000px;
$width-layout-max:      1200px;

/*
 *  MEDIA QUERIES
 */

@mixin narrow-view {
  // Smallest view size
  // E.g. a smartphone in portrait orientation
  // or a shrunken browser window on a desktop
  @media (max-width: #{$width-layout-medium - 1px}) {
    @content;
  }
}

@mixin medium-view {
  // Medium view size
  // E.g. on a big smartphone in landscape orientation
  // or a small tablet
  @media (min-width: #{$width-layout-medium}) {
    @content;
  }
}

@mixin broad-view {
  // Large view size
  // E.g. on a big tablet in landscape orientation
  // or on „normally“ sized browser window
  @media (min-width: #{$width-layout-broad}) {
    @content;
  }
}

@mixin maximum-view {
  // Largest view size
  // The layout should stop growing from this point
  @media (min-width: #{$width-layout-max}) {
    @content;
  }
}
