//
//  Typography
//

html {
  @include font-regular;
  font-size: 15px;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

::selection {
  color: #fff;
  background-color: $color-brown;
}

h1 {
  @include font-bold;
  font-size: 1.8rem;
  letter-spacing: -0.03em;
}

h2 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  letter-spacing: -0.03em;
}

h3,
h4,
h5,
h6 {
  @include font-bold;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  letter-spacing: -0.03em;
}

sup,
sub {
  margin: 0 0.2em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup,
sub,
sup *,
sub * {
  font-size: 0.75rem;
}

b,
strong {
  @include font-bold;
}

p {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

a {
  color: $color-blue;
  border: 0;
}

a:hover,
a:active {
  background-color: $color-blue;
  color: $color-white !important;
}

a:visited {
  color: $color-purple;
}

a:visited:hover,
a:visited:active {
  background-color: $color-purple;
  color: $color-white !important;
}

code,
code * {
  @include font-mono;
  background-color: $color-lightgrey;
}

th {
  @include font-bold;
  border-bottom: 1px solid $color-grey;
  padding: 0.3em;
  text-align: left;
}

tr:nth-child(2n) {
  background-color: $color-lightgrey;
}

td {
  vertical-align: top;
  padding: 0.3em;
}

blockquote {
  color: $color-grey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid $color-grey;
}
