@mixin font-regular {
  font-family: "Input Sans Cond Lt", "Lucida Grande", sans-serif;
  font-weight: normal;
  letter-spacing: -0.03em;
}

@mixin font-bold {
  font-family: "Input Serif Comp", "Palatino", "Book Antiqua", serif;
  font-weight: bold;
  letter-spacing: -0.07em;
}

@mixin font-thin-italic {
  font-family: "Input Sans Comp Lt", "Lucida Grande", sans-serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.03em;
}

@mixin font-mono {
  font-family: "Input Mono Narr Lt", monospace;
  font-weight: normal;
  letter-spacing: -0.05em;
}
