@import "library";

.tag {
  display: inline;
  border: 1px solid $color-green;
  padding: 0.3em 0.4em 0.15em 0.4em;
  font-size: 0.85em;
  color: $color-green;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  line-height: 2.3;
  white-space: nowrap;

  &:before {
    content: "#";
    margin-right: 0.2em;
  }

  @media print {
    border: none;
    padding: 0;
    margin-right: 0.3em;
    line-height: inherit;
    color: $color-grey;
  }
}
