$text-background: rgba(0,0,0,0.8);

.about {
    max-width: 300px;
}

.shaded-black {
  background-color: $text-background;
  box-shadow: 0.2em 0px 0 $text-background, -0.2em -0px 0 $text-background;
  color: $color-white;
  padding: 0.19em 0;
}

.imprint-col {
  display: inline;
  float: left;
  padding: 0;
  color: $color-white;
  background-color: $text-background;
  margin-bottom: 2em;
}

.salbit-background {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/static/salbit.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
