@import "../styles/library";

html {
  @include font-regular;
  font-size: 16.5px;
  line-height: 1.57;
  font-weight: 300;
  letter-spacing: -0.032em;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  background-color: #eee;
  @media print {
    background-color: transparent;
  }
}

body {
  margin: 0 auto;
  padding-top: $header-thickness;
  background-color: #fff;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  @include view-beyond-max {
    max-width: $layout-max-width;
  }
}

@media print {
  @page { 
      margin: 20mm 25mm 15mm 20mm;
  } 
}

::selection {
  color: #fff;
  background-color: hsl(var(--colour-theme), 15%, 20%);
}

:root {
  --colour-theme: 192;
}

.header {
  @extend .print-hide;

  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: hsl(var(--colour-theme), 15%, 20%);
  color: white;
  height: $header-thickness;
  line-height: $header-thickness;
  font-size: 1.1rem;

  @include view-beyond-max {
    max-width: $layout-max-width;
  }

  a { @extend .a-reset; }
  a {
    padding: 0 0.5rem;
    @include view-beyond-min {
      padding: 0 0.75rem;
    }
  }

  &-container {
    @extend .central-column;
  }
  &-logo {
    position: absolute;
    height: 2.2rem;
    top: 0.45rem;
    left: 0.5rem;
  }
  &-name {
    padding-left: 2rem;
  }
}

.siteimage {
  position: relative;
}

.siteimage-info {
  position: absolute;
  overflow: hidden;
  width: 0.4em;
  height: 1.4em;
  bottom: 0;
  right: 0;
  padding:  0.3em 0.9em;
  opacity: 0.7;
  text-align: right;
  color: #fff;
  background-color: #000;

  &:hover,
  &:active {
    width: 50%;
    height: 100%;
    opacity: 1;
    overflow: scroll;
  }
}

// .imprint {
//   &__contact {
//     @include font-mono;
//     display: inline;
//     float: left;
//     padding: 0;
//     margin-bottom: 2em;

//     &--noise {
//       display: none;
//     }
//   }

//   &__footnote {
//     color: #999;
//     font-size: 13px;
//     font-style: italic;
//   }
// }
