<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jan Heuermann">
    <meta name="google-site-verification" content="yhf1DPiu9P7NoA1YbdXwzzLXG2Oe8a6cY1wGWnLBSkE">

    <title>{{ block "title" . }}{{ end }} • jotaen.net</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.typekit.net/yqg5mad.css">
    <link rel="stylesheet" href="/style.css?{{ now.Unix }}">

    {{ block "head" . }}{{ end }}
  </head>
  <body>

    {{ block "navigation" . }}
      <header class="header" id="header">
        <div class="header-container" style="display:flex;">
          <a href="/">
            <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg" class="header-logo">
              <circle cx="40" cy="20" r="10" fill="none" stroke="#ffffff" stroke-width="7" />
              <path d="M 30 70
                       V 50
                       a 10 10, 0, 0, 1, 20 0
                       V 60
                       " fill="none" stroke="#ffffff" stroke-width="7" />
              <g transform="translate(13.5 50) scale(1.075) translate(0 -5.3) rotate(45)">
                <rect x="0" y="0" width="7.5" height="7.5" fill="#ffffff" />
              </g>
            </svg>
            <span class="header-name">Jan Heuermann</span>
          </a>
          <span style="flex:content"></span>
          <a href="/archive">Blog</a>
          <a href="/about">About</a>
        </div>
      </header>
    {{ end }}

    {{ block "main" . }}{{ end }}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62283896-1', 'auto');
      ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');

      (function(intervalInSeconds, maxStrokes) {
        var i = 0;
        var heartbeater = setInterval(function() {
          i++;
          if (i >= maxStrokes) clearInterval(heartbeater);
          ga('send', {
            hitType: 'event',
            eventCategory: 'Heartbeat',
            eventAction: 'pulse',
            eventValue: 30
          });
        }, intervalInSeconds*1000);
      })(10, 120); // max runtime: 20 minutes (120 strokes á 10 seconds)
    </script>

  </body>
</html>
