@import "../styles/library";

.header {
  @extend .print-hide;

  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: hsl(var(--colour-theme), 15%, 20%);
  color: white;
  height: $header-thickness;
  line-height: $header-thickness;
  font-size: 1.1rem;

  @include view-beyond-max {
    max-width: $layout-max-width;
  }

  a { @extend .a-reset; }
  a {
    padding: 0 0.5rem;
    @include view-beyond-min {
      padding: 0 0.75rem;
    }
  }

  &-container {
    @extend .central-column;
  }
  &-logo {
    position: absolute;
    height: 2.2rem;
    top: 0.45rem;
    left: 0.5rem;
  }
  &-name {
    padding-left: 2rem;
  }
}
