{{ define "title" }}Blog Index{{ end }}

{{ define "main" }}

  {{ partial "nav.html" . }}

  <main class="content">

    <h1 class="pagetitle">– Blog Index –</h1>

    <div class="teaser teaser--flat">
      {{ partial "follow.html" }}
    </div>

    {{ range where .Data.Pages.ByPublishDate "Type" "posts" }}
      <article class="teaser">
        <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
          {{ $img := (split .Params.Image ".") }}
          <img src="{{ index $img 0 }}.small.{{ index $img 1 }}" class="teaser__image">
        </a>

        <span class="teaser__publish-date">
          {{ dateFormat "Jan. _2, 2006" .Date }}
        </span>

        <h1 class="teaser__title">
          <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
            {{ .Title }}
          </a>
        </h1>

        <h2 class="teaser__subtitle">
          <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
            {{ .Params.Subtitle }}
          </a>
        </h2>

        <ul class="ul--reset teaser__tags">
          {{ range .Params.Tags }}
            <li class="tag" title="Tag: {{ . }}">{{ . }}</li>
          {{ end }}
        </ul>
      </article>
    {{ end }}

    <p class="teaser teaser__footer">
      <a href="/impressum">Impressum &amp; Datenschutz</a>
    </p>

  </main>

{{ end }}
