@import "../styles/library";

.navibar {
  overflow: visible;
  width: $width-navibar;
  position: fixed;
  z-index: 1000;
  @include narrow-view {
    z-index: 1001; // used in JS to detect current breakpoint
    top: 10px;
    width: 100%;
    padding-top: 3px;
    background-color: rgba($color-white, 0.8);

    &--show {
      top: 10px;
      transition: top 0.2s ease-out;
    }

    &--hide {
      top: -50px;
      transition: top 0.5s ease-out;
    }
  }
  @include medium-view {
    left: 13px;
  }
  @media print {
    display: none;
  }

  &:before,
  &:after {
    $thickness: 10px;
    content: '';
    display: block;
    opacity: 0.6;
    background-color: #d4d4d4;
    @include narrow-view {
      margin-top: ($width-navibar * 0.5) - ($thickness * 0.2);
      height: $thickness * 0.5;
    }
    @include medium-view {
      margin-left: ($width-navibar * 0.5) - ($thickness * 0.3);
      width: $thickness * 0.5;
    }
  }

  &:before {
    @include narrow-view {
      display: none;
    }
    @include medium-view {
      @media (min-height: 460px) {
        min-height: $height-header-min;
      }
      height: $height-header;
      max-height: $height-header-max;
      background-clip: content-box;
      padding-bottom: 135px;
      box-sizing: border-box;
    }
  }

  &:after {
    @include narrow-view {
      position: absolute;
      width: 2000px;
      right: 295px;
    }
    @include medium-view {
      margin-top: 1em;
      height: 5000px;
    }
  }
}

.navibar__logo {
  display: block;
  height: floor($width-navibar * 0.9);
  padding: 5px;
  @include narrow-view {
    margin: -4px 10px 0 12px;
    float: right;
  }
  @include medium-view {
    background-color: rgba(255, 255, 255, 0.7);
    margin: -87px 0 52px -35px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.navibar .icon {
  width: $width-navibar;
  height: $width-navibar;
  margin: 0;
  @include narrow-view {
    float: left;
    margin-left: 15px;
  }
  @include medium-view {
    margin-top: 14px;
  }
}

.navibar__icons {
  @include narrow-view {
    float: right;
  }
}
