/**
 *  CSS FOR SPECIFIC INIVIDUAL SITES
 */

@import "../library";

.about-page {
  @extend .central-column;
  margin-bottom: 2rem;
}

.error-page {
  @extend .central-column;
}

.impressum {
  @extend .central-column;
  &-contact {
    @include font-mono;
    display: inline;
    float: left;
    padding: 0;
    margin-bottom: 2em;
  }

  &-noise {
    display: none;
  }
}
