/**
 *  CSS FOR SPECIFIC INIVIDUAL SITES
 */

@import "../library";

.site {
  @extend .central-column;
  & > p {
    max-width: $width-paragraph;
  }
}

.impressum {
  &-contact {
    @include font-mono;
    display: inline;
    float: left;
    padding: 0;
    margin-bottom: 2em;
  }

  &-noise {
    display: none;
  }
}
