/**
 *  CSS FOR SPECIFIC INIVIDUAL SITES
 */

@import "../library";

.impressum {
  @extend .central-column;
  @extend .belt-main;
  &-contact {
    @include font-mono;
    display: inline;
    float: left;
    padding: 0;
    margin-bottom: 2em;
  }

  &-noise {
    display: none;
  }
}
