@import "../library";

.overlay {
  display: none;
  @include width-below-broad {
    @include font-regular;
    @include text-regular;
    text-align: center;
    position: absolute;
    z-index: $zindex-overlay;
    left: 0;
    width: 100%;
    padding: 2em 100%;
    margin-left: -100%;
    color: #000;
    background-color: rgba(240, 240, 240, 0.95);
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }

  &-shown {
    display: block;
  }

  &-buttoncontainer {
    margin-top: 1em;
  }

  &-closebutton {
    @include width-beyond-broad {
      display: none;
    }
  }
}

.footnote-aside {
  @include width-beyond-broad {
    display: block;
    @include font-italic;
    position: absolute;
    margin-top: -1.3rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 1rem;
    left: #{-1 * $width-aside};
    width: $width-aside;
    text-align: right;
    color: #555;
    line-height: 1.3;
    font-size: 0.9rem;
  }

  img + & { bottom: 0; }
  blockquote & { bottom: -0.6rem; }
  pre + p & { bottom: 0.6rem; }
  h1 > &, h2 > &, h3 > & { margin-top: -1.5rem; }
}

sup[id^="fnref"] {
  @include width-beyond-broad {
    display: none;
  }
}

.footnote-ref {
  @include width-beyond-broad {
    display: none;
  }
  a {
    @include font-regular;
    @include a-reset {
      color: $color-lightblue;
      &:hover, &:active {
        background-color: $color-lightblue;
        color: #fff;
      }
    }
    border: 1px solid $color-lightblue;
    border-radius: 1em;
    padding: 0 0.3em;
    margin: 0 0.3em;
    &:before {
      content: "^";
    }
  }
}

.footnote-return {
  display: none;
}
