@import "../styles/library";

.post-header {
  position: relative;
  width: 100%;
  height: 40%;
  min-height: 280px;
  @include medium-view {
    height: 45vh;
    max-height: 400px;
  }
  overflow: hidden;
  background-color: $color-black;
  background-repeat: no-repeat;
  background-position: center 70%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media print {
    height: auto;
    min-height: auto;
    background-color: inherit;
    background-image: none !important;
  }
}

.post-header__headline {
  position: absolute;
  bottom: 5%;
  left: 0;
  max-width: 450px;
  text-align: center;
  line-height: 1;
  width: 90%;
  @include medium-view {
    padding-left: 1.2em;
  }
  @media print {
    position: relative;
    text-align: left;
    padding-left: 0;
    max-width: $width-content-column;
  }
}

.post-header__title,
.post-header__subtitle {
  text-transform: capitalize;
  display: inline;
  background-color: $color-red;
  padding: 0.3em;
  color: #fff;
  font-style: italic;
  @media print {
    background-color: transparent;
    color: $color-black;
    padding-left: 0;
  }
}

$sw: 0.6em;
$sh: 0.2em;

.post-header__title {
  line-height: 1.5;
  font-size: 1.9rem;
  box-shadow: $sw $sh 0 $color-red, $sw -#{$sh} 0 $color-red, -#{$sw} #{$sh} 0 $color-red, -#{$sw} -#{$sh} 0 $color-red;
  @media print {
    box-shadow: none;
  }
}

.post-header__subtitle {
  font-size: 1.2rem;
  line-height: 1.5;
  box-shadow: $sw $sh 0 $color-red, -#{$sw} #{$sh} 0 $color-red, $sw 0 0 $color-red, -#{$sw} 0 0 $color-red;
  @media print {
    color: $color-grey;
    box-shadow: none;
  }
}

.post-header__image-info {
  position: absolute;
  overflow: hidden;
  width: 0.4em;
  height: 1.4em;
  bottom: 0;
  right: 0;
  padding:  0.3em 0.9em;
  opacity: 0.7;
  text-align: right;
  color: $color-white;
  background-color: $color-black;

  &:hover,
  &:active {
    width: 50%;
    height: 100%;
    opacity: 1;
    overflow: scroll;
  }
}
