@import "../styles/library";

$line-length-width: 38rem;

.postimage {
  position: relative;
  height: 42vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;

  &-info {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 5px;
    text-align: right;
    color: #fff;
    background-color: #000;

    svg {
      width: 100%;
    }
    p {
      display: none;
    }

    &:hover,
    &:active {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: scroll;

      svg {
        display: none;
      }
      p {
        display: block;
        width: 40rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.post {
  @extend .central-column;
  position: relative;
}

.post ol {
  position: relative;
  padding-left: 1.5em;
}

.post ul {
  position: relative;
  padding-left: 1em;
}

.post ul li {
  list-style-type: none;
  &:before {
    position: absolute;
    content: "▪︎";
    left: 0;
  }
}

@media print {
  .post a {
    color: #000;
    text-decoration: none;
    &:after{
      content: " [➚ " attr(href) "]";
    }
  }
}

.post > p,
.post > ul,
.post > ol,
.post > blockquote,
.post > figure,
.post > div,
.post > img,
.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5,
.post > h6,
.post > .footnotes {
  position: relative;
  margin-left: 0;
  max-width: $line-length-width;
}

.post > figure {
  margin-right: 0;
}

.post img {
  width: 100%;
}

.post pre {
  padding: 0.7em 0.5em;
  background-color: $color-lightgrey;
  overflow: scroll;
}

.post code {
  white-space: pre;
}

.post th {
  @include font-bold;
  padding: 0.3em;
  border-bottom: 1px solid $color-grey;
  background-color: $color-lightgrey;
  text-align: left;
}

.post td {
  max-width: 25em;
}

.post tr:nth-child(2n) {
  background-color: $color-lightgrey;
}

.post td {
  vertical-align: top;
  padding: 0.3em;
}

.post > blockquote {
  color: $color-grey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid $color-grey;
}

.post sup[id^="fnref"] {
  @include width-beyond-broad {
    display: none;
  }
}

a.footnote {
  text-decoration: none;
  @include width-beyond-broad {
    display: none;
  }

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

a.reversefootnote {
  @include width-beyond-broad {
    display: none;
  }
}

.post-gloss__in-sidebar {
  display: none;
  @include width-beyond-broad {
    display: block;
  }
  @include font-thin-italic;
  position: absolute;
  left: -135px;
  margin-top: -1.3rem;
  width: 120px;
  text-align: right;
  color: #555;
  line-height: 1.2;
  font-size: 0.85rem;
}

img + .post-gloss__in-sidebar,
blockquote .post-gloss__in-sidebar {
  top: 0;
  margin-top: 0;
}

.footnotes {
  @include width-beyond-broad {
    display: none;
  }
  @include font-thin-italic;
  margin-top: 3em;
  color: #555;

  &:before {
    display: block;
    content: "Footnotes:";
    padding-top: 1em;
    text-transform: uppercase;
    border-top: 1px dotted $color-grey;
    width: 100%;
  }
}
