@import "../styles/library";

.postimage {
  &-info {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 5px;
    text-align: right;
    color: #fff;
    background-color: #000;

    svg {
      width: 100%;
    }
    p {
      display: none;
    }

    &:hover,
    &:active {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      overflow: scroll;

      svg {
        display: none;
      }
      p {
        display: block;
        width: 40rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.post {
  @extend .central-column;
  position: relative;
  padding-bottom: 1em;
}

@media print {
  .post a {
    color: #000;
    text-decoration: none;
    &:after{
      content: " [➚ " attr(href) "]";
    }
  }
}

.post > p,
.post > ul,
.post > ol,
.post > blockquote,
.post > figure,
.post > div,
.post > img,
.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5,
.post > h6 {
  position: relative;
  margin-left: 0;
  max-width: $width-paragraph;
}

.post .headline {
  text-align: center;
  margin-top: 0.5em;

  .headline-title {
    font-size: 1.3em;
  }
  .headline-subtitle {
    font-size: 0.8em;
  }
  .headline-meta {
    display: flex;
    color: #999;
    font-size: 0.85rem;
    margin-top: 0.5rem;

    &-text {
      margin:0 1em;
    }
    &-spacerline {
      &-small, &-stretch {
        border-bottom: 1px solid #999;
        transform: translateY(-50%);
      }
      &-small {
        width: 0.5em;
      }
      &-stretch {
        flex: 1;
      }
    }
  }
}

.post > figure {
  margin-right: 0;
}

.post pre {
  overflow: scroll;
}

.post p > img {
  max-width: 100%;

  &[src$="#small"] {
    max-width: 50%;
  }
}

.post > table {
  display: block;
  overflow-x: scroll;
}
