input, .control {
  @include font-regular;
  font-style: normal;
}

.btn {
  /* normalize begin */
  -webkit-appearance: button;
  background: none;
  border: none;
  /* normalize end */

  &:hover, &:active {
    border-width: 3px;
    margin: -2px;
  }
}
