@import "../styles/library";

.tag {
  display: inline-block;
  border: 1px solid $color-green;
  padding: 0.2em 0.4em 0.1em 0.4em;
  font-size: 0.85em;
  color: $color-green;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin-bottom: 0.5em;

  a:before {
    content: "#";
    margin-right: 0.3em;
  }

  @media print {
    border: none;
    padding: 0;
    margin-right: 0.3em;
    line-height: inherit;
    color: $color-grey;
  }
}
