@import "../styles/library";

.tag {
  display: inline-block;
  border: 1px solid $color-lightblue;
  padding: 0.1em 0.4em 0 0.4em;
  font-size: 0.85em;
  color: $color-lightblue !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin-bottom: 0.6em;

  &:hover {
    background-color: $color-blue;
    border-color: $color-blue;
    color: $color-white !important;
  }

  &:before {
    content: "#";
    margin-right: 0.3em;
  }

  @media print {
    border: none;
    padding: 0;
    margin-right: 0.3em;
    line-height: inherit;
    color: $color-grey;
  }
}
