@import "../styles/library";

h1 {
  @include font-regular;
  font-size: 2rem;
  letter-spacing: -0.03em;
  margin-top: 1.2em;
}

h2 {
  @include font-bold;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  letter-spacing: -0.03em;
}

h3,
h4,
h5,
h6 {
  @include font-bold;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
  letter-spacing: -0.03em;
}

sup,
sub {
  line-height: 0;
}

sup,
sub {
  font-size: 0.8rem;
}

b, strong, .strong {
  @include font-bold;
}

i, em, .em {
  @include font-thin-italic;
}

p {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

a,
.link {
  color: $color-blue;
  border: 0;
}

a:hover,
a:active,
.link--hover,
.link--active {
  background-color: $color-blue;
  color: #fff;
}

a:visited,
.link--visited {
  color: $color-purple;
}

a:visited:hover,
a:visited:active,
.link--visited:hover,
.link--visited:active {
  background-color: $color-purple;
  color: #fff;
}

code {
  padding: 0.25em;
}

code,
code *,
.code,
.code * {
  @include font-mono;
  background-color: $color-lightgrey;
}

abbr {
  border-bottom: 1px dotted $color-grey;
  cursor: help;
}

ol {
  position: relative;
  padding-left: 1.5em;
}

ul {
  position: relative;
  padding-left: 1em;
}

ul li {
  list-style-type: none;
  &:before {
    position: absolute;
    content: "•";
    left: 0;
  }
}

pre {
  padding: 0.7em 0.5em;
  background-color: $color-lightgrey;
}

code {
  white-space: pre;
}

th {
  @include font-bold;
  padding: 0.3em;
  border-bottom: 1px solid $color-grey;
  background-color: $color-lightgrey;
  text-align: left;
}

td {
  max-width: 25em;
}

tr:nth-child(2n) {
  background-color: $color-lightgrey;
}

td {
  vertical-align: top;
  padding: 0.3em;
}

blockquote {
  color: $color-darkgrey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid $color-grey;
}
