@import "../styles/library";

h1 {
  @include font-serif;
  font-size: 1.8rem;
  margin-top: 1.2em;
}

h2 {
  @include font-bold;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

h3, h4, h5, h6 {
  @include font-bold;
  margin-top: 1.1rem;
  margin-bottom: -0.9rem;
  font-size: 1.1rem;
}

sup,
sub {
  line-height: 0;
}

sup,
sub {
  font-size: 0.8rem;
}

b, strong, .strong {
  @include font-bold;
}

i, em, .em {
  @include font-thin-italic;
}

p {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

a,
.link {
  color: $color-blue;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
}

a:hover,
a:active,
.link:hover,
.link:active {
  background-color: $color-blue;
  color: #fff;
}

a:visited,
.link-visited {
  @extend .link;
  color: $color-purple;
}

a:visited:hover,
a:visited:active,
.link-visited:hover,
.link-visited:active {
  background-color: $color-purple;
  color: #fff;
}

code,
.code {
  @include font-mono;
  background-color: $color-lightgrey;
  padding: 0.125em 0.25em;
}

abbr {
  border-bottom: 1px dotted $color-grey;
  cursor: help;
}

ol {
  position: relative;
  padding-left: 1.5em;
}

ul {
  position: relative;
  padding-left: 1em;
}

ul li {
  list-style-type: none;
  &:before {
    position: absolute;
    content: "•";
    left: 0;
  }
}

pre {
  padding: 0.7em 0.5em;
  background-color: $color-lightgrey;
}

table {
  border-collapse: collapse;
}

thead {
  @include font-bold;
  text-align: left;
  border-bottom: 1px solid #000;
  th {
    padding: 0.3em;
  }
}

tr:nth-child(2n) {
  background-color: $color-lightgrey;
}

tbody {
  td {
    vertical-align: top;
    padding: 0.3em;
    border-right: 2px solid white;
    &:last-child {
      border-right: none;
    }
  }
}

blockquote {
  color: $color-darkgrey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 2px solid $color-grey;
  margin-right: 0; // normalise browser default
}
