<nav class="navibar">
  <a href="/">
    <img src="/jotaen.png" alt="jotaen" class="navibar__logo">
  </a>
  <ul class="navibar__icons ul--reset">
    <li class="icon icon--navi">
      <a href="/">
        <img src="/icon-home.png" alt="Home" class="icon__image">
      </a>
      <span class="icon__label icon__label--navi">Home</span>
    </li>
    <li class="icon icon--navi">
      <a href="/about">
        <img src="/icon-about.png" alt="Person" class="icon__image">
      </a>
      <span class="icon__label icon__label--navi">About</span>
    </li>
  </ul>
</nav>
