.subscribe {
  text-align: center;

  &__heading {
    margin-top: 0;
    &:before {
      content: "☞";
      font-size: 1.2em;
      margin-right: 0.5em;
    }
  }

  &__disclaimer {
    display: block;
    color: $color-grey;
    font-size: 0.9em;
    margin-top: 0.4em;
  }

  &__email {
    padding: 0.2rem;
    width: 55%;
    font-size: 1rem;
  }

  &__button {
    padding: 0.2rem 0.5rem;
    color: $color-white;
    border: 1px solid $color-green;
    background-color: $color-green;
    font-size: 1rem;
    cursor: pointer;
  }
}
