<div class="teaser teaser--flat teaser--centered">
  <h3 class="teaser__banner">Get updates on new articles via e-mail!</h3>
  <div class="subscribe">
    <div id="mc_embed_signup">
      <form action="//jotaen.us14.list-manage.com/subscribe/post?u=d8230f6036c64ebabb7edfc13&amp;id=d03223eec2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" placeholder="Your email address" class="subscribe__email" id="mce-EMAIL">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe__button">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d8230f6036c64ebabb7edfc13_d03223eec2" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
    <span class="subscribe__disclaimer">No spam. 1-click-unsubscribe anytime.</span>
  </div>
</div>
