@import "../library";

.tagbrowser {
  @extend .print-hide;
  @extend .central-column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .section-title {
    color: #fff;
    text-align: center;
  }

  ul { @extend .ul-reset; }
  &-categories {
    display: flex;
    text-align: center;
  }
  &-category {
    flex: 1;
  }
  &-count {
    color: $color-lightgrey;
  }
  &-tag {
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
    white-space: nowrap;
  }
}
