<article
  class="teaser"
  data-tags="{{ range .Params.Tags }}{{ . | urlize }} {{ end }}
">
  <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
    {{ $img := (split .Params.Image ".") }}
    <img src="{{ index $img 0 }}.small.{{ index $img 1 }}" class="teaser__image">
  </a>

  <span class="teaser__publish-date teaser--light">
    {{ .Date.Format "2" }}<sup>{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}</sup>
    {{ .Date.Format "Jan. 2006" }}
  </span>

  <h1 class="teaser__title">
    <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
      {{ .Title }}
    </a>
  </h1>

  <h2 class="teaser__subtitle">
    <a href="/{{ trim .RelPermalink "/" }}" class="a--reset">
      {{ .Params.Subtitle }}
    </a>
  </h2>

  <ul class="ul--reset teaser__tags">
    {{ range .Params.Tags }}
      <li class="li--inline" title="Tag: {{ . }}">
        <a href="/archive/#{{ . }}" class="a--reset tag">{{ . }}</a>
      </li>
    {{ end }}
  </ul>
</article>
