<article class="teaser"
  data-tags="{{ range .Params.Tags }}{{ . | urlize }} {{ end }}
">
  <a href="/{{ trim .RelPermalink "/" }}">
    {{ $img := (split .Params.Image ".") }}
    <div style="background-image:url({{ index $img 0 }}.small.{{ index $img 1 }})" class="teaser-image"></div>
  </a>

  {{ .Date.Format "2" }}<sup>{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}</sup>
    {{ .Date.Format "Jan. 2006" }}

      {{ .Title }}
      {{ .Params.Subtitle }}

      {{ range .Params.Tags }}
        <a href="/archive/#{{ . }}" class="a--reset tag">{{ . }}</a>
    {{ end }}

</article>
