{{ define "title" }}Page Not Found{{ end }}

{{ define "navigation" }}
<!-- Empty block to make navigation disappear -->
{{ end }}

{{ define "head" }}
  <script src="https://static.jotaen.net/webshell.js/dist/webshell.js"></script>
  <link rel="stylesheet" href="https://static.jotaen.net/webshell.js/dist/webshell.css">
  <style type="text/css">
    .webshell {
      background-color: #000;
      color: #fff;
      font-size: 18px;
      line-height: 1.2;
      font-family: monospace;
      padding-top: 0.5em;
    }
    .webshell-prompt-user { color: #65c858 }
    .webshell-prompt-at { color: #cac43b }
    .webshell-prompt-path { color: #999 }
    .webshell-prompt-delimiter { color: #c0253e; }
    .webshell a {
      color: inherit;
    }
  </style>
{{ end }}

{{ define "main" }}

  <main class="belt-main belt-black">
    <div id="webshell" class="webshell central-column"></div>
  </main>

  <script type="text/javascript">
    var fileTree = {
      {{ range where (where .Data.Pages ".Params.listed" "!=" false) "Type" "posts" }}
          "{{ dateFormat "2006-01-02" .Date  }}-{{ .Title | urlize }}.md": "{{ .RawContent }}",
      {{ end }}
    }

    var webshell = createWebshell('webshell', {initialState: {
      fileTree: fileTree,
      sessions: ['root', 'jotaen']
    }});

    webshell.print('webserver start --port=443', [
      'Starting webserver on port 443...',
      undefined,
      'Error: Uncaught PageNotFound exception',
      '       at: module webserver',
      '       at: function route(url)',
      '           url: `' + window.location.pathname + '`',
      undefined,
      'Exit webserver with status 404',
      undefined
    ]);

    webshell.focus();
  </script>

{{ end }}
