{{ define "title" }}Page Not Found{{ end }}

{{ define "navigation" }}
<!-- Empty block to make navigation disappear -->
{{ end }}

{{ define "head" }}
  <link rel="stylesheet" property="stylesheet" href="/webshell-dark.css">
  <script src="//static.jotaen.net/webshell.js/dist/webshell.js"></script>
{{ end }}

{{ define "main" }}

  <div class="belt-black">
    <main id="webshell" class="webshell error-page"></main>
  </div>

  <script type="text/javascript">
    var fileTree = {
      {{ range where (where .Data.Pages ".Params.listed" "!=" false) "Type" "posts" }}
          "{{ dateFormat "2006-01-02" .Date  }}-{{ .Title | urlize }}.md": "{{ .RawContent }}",
      {{ end }}
    }

    var webshell = createWebshell('webshell', {initialState: {
      fileTree: fileTree,
      sessions: ['root', 'jotaen']
    }});

    webshell.print('webserver start --port=443', [
      'Starting webserver on port 443...',
      undefined,
      'Error: Uncaught PageNotFound exception',
      '       at: module webserver',
      '       at: function route(url)',
      '           url: `' + window.location.pathname + '`',
      undefined,
      'Exit webserver with status 404',
      undefined
    ]);

    webshell.focus();
  </script>

{{ end }}
