.content {
  margin-left: 1em;
  margin-right: 1em;
  @include medium-view {
    margin-left: 14%;
  }
  @include broad-view {
    margin-left: 20%;
    margin-right: 3em;
  }
  @include maximum-view {
    margin-left: 240px;
  }
}

.m41lm3 {
  cursor: pointer;
  &:before {
    content: "&ß#üø$";
    filter: blur(2px);
    letter-spacing: -3px;
  }
  &:after {
    content: "@jotaen.net";
  }
  &--n {
    display: none;
  }
}

.cta__label {
  &:before {
    content: "☞";
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  
  &--narrow:before {
    margin-right: 0;
  }
}
