@import "styles/library";

html {
  background-color: $color-white;
  @include font-regular;
  font-size: 15px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  @media print {
    background-color: transparent;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media print {
  @page  
  { 
      margin: 20mm 25mm 15mm 20mm;
  } 
}

::selection {
  color: #fff;
  background-color: $color-brown;
}

.content {
  margin-left: 1em;
  margin-right: 1em;
  @include medium-view {
    margin-left: 14%;
  }
  @include broad-view {
    margin-left: 20%;
    margin-right: 3em;
  }
  @include maximum-view {
    margin-left: 240px;
  }
}

.pagetitle {
  margin-top: 0;
  padding-top: 4em;
  @include narrow-view {
    text-align: center;
  }
}

.align--bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ul--reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li--inline {
  display: inline-block;
}

.screen-hide {
  @media screen {
    display: none;
  }
}

.print-hide {
  @media print {
    display: none;
  }
}

.m41lm3 {
  cursor: pointer;
  &:before {
    content: "&ß#üø$";
    filter: blur(2px);
    letter-spacing: -3px;
  }
  &:after {
    content: "@jotaen.net";
  }
  &--n {
    display: none;
  }
}

.cta__label {
  &:before {
    content: "☞";
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  
  &--narrow:before {
    margin-right: 0;
  }
}
