/*
 *  TYPOGRAPHY
 */

@mixin font-settings {
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

@mixin font-regular {
  @include font-settings;
  font-family: "Input Sans Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: -0.032em;
}

@mixin font-bold {
  @include font-settings;
  font-family: "Input Sans Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
}

@mixin font-serif {
  @include font-settings;
  font-family: "Input Serif Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: -0.032em;
}

@mixin font-thin-italic {
  @include font-settings;
  font-family: "Input Sans Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.03em;
}

@mixin font-mono {
  @include font-settings;
  font-family: input-mono-narrow, monospace;
  font-weight: 300;
  letter-spacing: -0.05em;
}

@mixin text-regular {
  font-size: 16.5px;
  line-height: 1.57;
}

/*
 *  MEDIA QUERIES
 */

$layout-width-narrow: 360px;
$layout-width-superwide: 2000px;

$width-central-column: 740px;
$width-paragraph: 650px; // ~80 chars
$width-aside: 160px; // min ~X chars

@mixin width-below-min {
  @media (max-width: #{$layout-width-narrow - 1}) {
    @content;
  }
}

@mixin width-beyond-min {
  @media (min-width: $layout-width-narrow) {
    @content;
  }
}

@mixin width-below-broad {
  @media (max-width: #{$width-central-column + 2*$width-aside - 1}) {
    @content;
  }
}

@mixin width-beyond-broad {
  @media (min-width: #{$width-central-column + 2*$width-aside}) {
    @content;
  }
}

@mixin width-beyond-max {
  @media (min-width: $layout-width-superwide) {
    @content;
  }
}

/*
 *  COLOURS
 */

$color-grey: #ddd;
$color-lightgrey: #eee;
$color-darkgrey: #777;
$color-blue: #0d668d;
$color-lightblue: #1394cc;
$color-purple: #8d1699;
$color-red: #c0253e;
$color-orange: #f34c17;
$color-green: #65c858;
$color-brown: #5a3e35;

:root { // make available in plain HTML
  --color-grey: #{$color-grey};
  --color-lightgrey: #{$color-lightgrey};
  --color-darkgrey: #{$color-darkgrey};
  --color-blue: #{$color-blue};
  --color-lightblue: #{$color-lightblue};
  --color-purple: #{$color-purple};
  --color-red: #{$color-red};
  --color-orange: #{$color-orange};
  --color-green: #{$color-green};
  --color-brown: #{$color-brown};
}

/*
 *  CSS CLASSES
 */

$zindex-navigation: 99999;
$zindex-overlay: #{$zindex-navigation - 1};

/*
 *  CSS CLASSES
 */

.central-column {
  position: relative;
  max-width: $width-central-column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
}

.a-reset { &, &:hover, &:active, &:visited, &:visited:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}}

.screen-hide {
  @media screen {
    display: none;
  }
}

.print-hide {
  @media print {
    display: none;
  }
}
