ul.sociallinks {
  display: flex;
  margin-top: 1rem;
  li {
    flex: auto;
    text-align: center;
  }
  a {
    @include a-reset;
    svg {
      width: 2.5rem;
    }
  }
}

.impr-ctc {
  @include font-mono;
  float: left;
  &-ns {
    float:left;
    display: none;
  }
}
