@import "../library";

.teaser {
  position: relative;
  max-width: $width-content-column;
  overflow: hidden;
  clear: both;
  padding: 2em 0;
  border-top: 1px solid $color-grey;
  @include narrow-view {
    text-align: center;
  }

  &--flat {
    padding: 1.3em 0;
  }

  &__image {
    width: 200px;
    height: 150px;
    @include medium-view {
      float: left;
      margin-right: 15px;
    }
  }

  &__publish-date {
    display: block;
    color: $color-grey;
    font-size: 0.9em;
    margin: 0;
    @include medium-view {
      margin-left: 215px;
    }
  }

  &__title {
    @include font-bold;
    font-style: italic;
    font-size: 1.4rem;
    color: #222;
    margin: 0;
    line-height: 1.4;
    @include medium-view {
      margin-left: 215px;
    }
  }

  &__subtitle {
    @include font-regular;
    font-style: italic;
    font-size: 1.2rem;
    color: #222;
    margin: 0 0 0.5em 0;
    line-height: 1.4;
    @include medium-view {
      margin-left: 215px;
    }
  }

  &__tags {
    margin: 0;
    @include medium-view {
      margin-left: 215px !important;
    }
  }

  &__disclaimer {
    display: block;
    color: $color-grey;
    font-size: 0.9em;
    margin-top: 0.4em;
  }

  &__footer {
    text-align: center;
    font-size: 13px;
    min-height: 1px;
  }
}
