@import "library";

.icon {
  position: relative;
  border-radius: 50%;
  overflow: visible;
}

.icon--navi {
  background-color: $color-blue;
}

.icon--navi:hover {
  background-color: $color-orange;
}

.icon__image {
  width: 60%;
  padding: 20%;
}

.icon__label {
  display: none; /* To make element visible, toggle to "flex" */
  position: absolute;
  top: 0;
  left: 120%;
  height: 100%;
  padding: 0 0.5em;
  align-items:center;
}

.icon__label--navi {
  background-color: $color-orange;
  color: $color-white;
}

.icon a,
.icon a:hover,
.icon a:visited:hover,
.icon a:visited:active,
.icon a:active,
.icon a:visited {
  text-decoration: none;
  background-color: transparent;
}
