@import "library";

.icon {
  position: relative;
  border-radius: 50%;
  overflow: visible;
}

.icon--navi {
  background-color: $color-blue;
}

.icon--navi:hover {
  background-color: $color-orange;
}

.icon__image {
  width: 60%;
  padding: 20%;
}

.icon__label {
  position: absolute;
  display: none;
  padding: 0.2em 0.5em;
  @include narrow-view {
    // Hack to center label horizontally
    left: 50%;
    transform: translate(-50%, 0);
  }
  @include medium-view {
    top: 0.2em;
    left: 120%;
  }
}

.icon__label--navi {
  background-color: $color-orange;
  color: $color-white;
}

.icon a,
.icon a:hover,
.icon a:visited:hover,
.icon a:visited:active,
.icon a:active,
.icon a:visited {
  text-decoration: none;
  background-color: transparent;
}
