@import "library";

.tag {
  display: inline;
  border: 1px solid $color-green;
  font-size: 0.85em;
  text-transform: uppercase;
  color: $color-green;
  padding: 0.3em 0.4em 0.15em 0.4em;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.tag:before {
  content: "#";
  margin-right: 0.2em;
}

// .tag:hover,
// .tag--hover {
//   background-color: $color-green;
//   color: $color-white;
// }
