@import "library";

.tag {
  border: 1px solid $color-green;
  font-size: 0.85em;
  text-transform: uppercase;
  color: $color-green;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

// .tag:hover,
// .tag--hover {
//   background-color: $color-green;
//   color: $color-white;
// }
