@import "library";

h1 {
  @include font-bold;
  font-size: 1.8rem;
  letter-spacing: -0.03em;
  margin-top: 1.5em;
}

h2 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  letter-spacing: -0.03em;
}

h3,
h4,
h5,
h6 {
  @include font-bold;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  letter-spacing: -0.03em;
}

sup,
sub {
  line-height: 0;
  font-weight: bold;
}

sup,
sub {
  font-size: 0.8rem;
}

b,
strong,
.strong {
  @include font-bold;
}

p {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

a,
.link {
  color: $color-blue;
  border: 0;
}

a:hover,
a:active,
.link--hover,
.link--active {
  background-color: $color-blue;
  color: $color-white !important;
}

a:visited,
.link--visited {
  color: $color-purple;
}

a:visited:hover,
a:visited:active,
.link--visited:hover,
.link--visited:active {
  background-color: $color-purple;
  color: $color-white !important;
}

code {
  padding: 0.25em;
}

code,
code *,
.code,
.code * {
  @include font-mono;
  background-color: $color-lightgrey3;
}
