@import "library";

$blogpost_column_width: 550px;

.post-content > ol,
.post-content > ul {
  padding-left: 2em;
}

.post-content > p,
.post-content > ul,
.post-content > ol,
.post-content > blockquote,
.post-content > h1,
.post-content > h2,
.post-content > h3,
.post-content > h4,
.post-content > h5,
.post-content > h6 {
  max-width: $blogpost_column_width;
}

.post-content pre {
  display: inline-block;
  width: 100%;
  @include medium-view {
    width: auto;
    min-width: $blogpost_column_width;
  }
  padding: 0.7em 0.5em;
  background-color: $color-lightgrey3;
}

.post-content th {
  @include font-bold;
  border-bottom: 1px solid $color-grey;
  padding: 0.3em;
  text-align: left;
}

.post-content td {
  max-width: 25em;
}

.post-content tr:nth-child(2n) {
  background-color: $color-lightgrey2;
}

.post-content td {
  vertical-align: top;
  padding: 0.3em;
}

.post-content blockquote {
  color: $color-grey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid $color-grey;
}
