.post-footer {
  overflow: hidden;
  max-width: $width-content-column;
  margin: 4em 0 3em 0;
  @include font-thin-italic;
  color: #555;
  &:before {
    content: "*     *     *";
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
}
