@import "library";

a.footnote {
  text-decoration: none;
  @include broad-view {
    display: none;
  }
}

a.footnote:before {
  content: "[";
}

a.footnote:after {
  content: "]";
}

a.reversefootnote {
  @include broad-view {
    display: none;
  }
}

.post-gloss__in-sidebar {
  display: none;
  @include broad-view {
    display: block;
  }
  @include font-thin-italic;
  position: absolute;
  left: -140px;
  margin-top: -1.3rem;
  width: 120px;
  text-align: right;
  color: #555;
  line-height: 1.2;
  font-size: 0.85rem;
}

.post-gloss__in-footer,
div.footnotes {
  @include broad-view {
    display: none;
  }
  @include font-thin-italic;
  max-width: $width-content-column;
  margin-top: 3em;
  color: #555;
}

.post-gloss__in-footer:before,
div.footnotes:before {
  display: block;
  content: "Footnotes:";
  padding-top: 1em;
  text-transform: uppercase;
  border-top: 1px dotted $color-grey;
  width: 100%;
}
