@import "library";

.post-info {
  z-index: 999;
  color: $color-grey;
  @media print {
    opacity: 0.7;
  }
  margin-top: 0;
  font-size: 0.95em;
  @include narrow-view {
    padding: 0.5em 1em 0 1em;
    $border: 1px solid $color-grey;
    border-bottom: $border;
    background-color: $color-lightgrey2;
    @media print {
      border-top: $border;
      background-color: transparent;
    }
  }
  @include medium-view {
    border-left: 1px solid $color-grey;
    margin-left: 14%;
    padding: 0.5em;
  }
  @include broad-view {
    position: absolute;
    width: 190px;
    margin-left: 20%;
    margin-right: 10px;
    right: 0px;
  }
  @include maximum-view {
    left: 745px;
  }
}

.post-info__label {
  @include font-bold;
  float: left;
  margin-right: 0.5em;
  @include broad-view {
    float: none;
  }
}

.post-info__data {
  margin-left: 0;
  margin-bottom: 0;
  @include broad-view {
    margin-bottom: 0.5em;
  }
}
