@import "../library";

.post-body {
  position: relative;
}

.post-body ol {
  position: relative;
  padding-left: 1.5em;
}

.post-body ul {
  position: relative;
  padding-left: 1em;
}

.post-body ul li {
  list-style-type: none;
  &:before {
    position: absolute;
    content: "▸";
    left: 0;
  }
}

@media print {
  .post-body a {
    color: $color-black;
    text-decoration: none;
    &:after{
      content: " [➚ " attr(href) "]";
    }
  }
}

.post-body > p,
.post-body > ul,
.post-body > ol,
.post-body > blockquote,
.post-body > figure,
.post-body > div,
.post-body > img,
.post-body > h1,
.post-body > h2,
.post-body > h3,
.post-body > h4,
.post-body > h5,
.post-body > h6 {
  margin-left: 0;
  max-width: $width-content-column;
}

.post-body > pre {
  max-width: $width-content-column * 1.3;
}

.post-body > figure {
  margin-right: 0;
}

.post-body img {
  width: 100%;
}

.post-body pre {
  padding: 0.7em 0.5em;
  background-color: $color-lightgrey3;
  overflow: scroll;
}

.post-body code {
  white-space: pre;
}

.post-body th {
  @include font-bold;
  padding: 0.3em;
  border-bottom: 1px solid $color-grey;
  background-color: $color-lightgrey2;
  text-align: left;
}

.post-body td {
  max-width: 25em;
}

.post-body tr:nth-child(2n) {
  background-color: $color-lightgrey2;
}

.post-body td {
  vertical-align: top;
  padding: 0.3em;
}

.post-body > blockquote {
  color: $color-grey;
  margin-left: 0.5em;
  padding-left: 1em;
  border-left: 1px solid $color-grey;
}

.post-body sup[id^="fnref"] {
  @include broad-view {
    display: none;
  }
}
