@import "../library";

.archive {
  &-header {
    display: flex;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-darkgrey;
  }
  &-title {
    @include font-bold;
    text-transform: uppercase;
  }
  &-filter {
    float: right;
    color: $color-darkgrey;
  }
}
