{{ define "title" }}Archive{{ end }}

{{ define "main" }}

  <script>
    function appendHashtag(tag) {
      window.location.hash = tag === "_all" ? "" : tag;
    }

    function filterList(tag) {
      const currentTag = window.location.hash.substr(1);
      const elements = document.querySelectorAll('[data-tags]');
      Array.prototype.forEach.call(elements, function(e) {
        const tags = e.getAttribute("data-tags").split(" ");
        const isShown = tags.includes(currentTag) || currentTag === "";
        e.style.display = isShown ? "block" : "none";
      });
      document.getElementById('all-tags').value = currentTag || "_all";
    }

    window.addEventListener("hashchange", filterList, false);

    (function hideTeaserWhileLoading() {
      const style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.teaser { display: none; }';
      document.getElementsByTagName('head')[0].appendChild(style);
    })();
  </script>

  <main class="content">

    <h1 class="pagetitle">– Archive –</h1>
    <div class="archive__filter">
      Filter by tag: 
      <select id="all-tags" onchange="appendHashtag(this.value)">
        <option value="_all">Show all</option>
        <option disabled>────────────</option>
        {{ range $category, $tags := .Site.Data.tags }}
          <optgroup label="{{ $category }}">
            {{ range $name := $tags }}
            <option value="{{ $name | urlize }}">{{ $name }}</option>
            {{ end }}
          </optgroup>
        {{ end }}
      </select>
    </div>
    {{ range (where .Page.Site.RegularPages.ByPublishDate.Reverse "Type" "posts") }}
      {{ partial "teaser.html" . }}
    {{ end }}

    <script>
      // Call this _after_ the teasers have been loaded
      filterList();
    </script>

  </main>

{{ end }}
