@import "library";

.navibar {
  overflow: visible;
  width: $width-navibar;

  &:before,
  &:after {
    $dot-size: 10px;
    content: '';
    display: block;
    opacity: 0.7;
    background-image: url("/assets/static/dot.png");
    background-size: $dot-size;
    @include narrow-view {
      margin-top: ($width-navibar * 0.5) - ($dot-size * 0.2);
      height: $dot-size * 0.5;
    }
    @include medium-view {
      margin-left: ($width-navibar * 0.5) - ($dot-size * 0.3);
      width: $dot-size * 0.5;
    }
  }

  &:before {
    @include narrow-view {
      display: none;
    }
    @include medium-view {
      height: 68px;
    }
  }

  &:after {
    @include narrow-view {
      position: absolute;
      width: 2000px;
      right: 247px;
    }
    @include medium-view {
      margin-top: 1em;
      height: 5000px;
    }
  }
}

.navibar__logo {
  display: block;
  height: $width-navibar * 0.8;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 7px;
  @include narrow-view {
    margin: -4px 10px 0 12px;
    float: right;
  }
  @include medium-view {
    margin: 40px 0 47px -33px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.navibar .icon {
  width: $width-navibar;
  height: $width-navibar;
  margin: 0;
  @include narrow-view {
    float: left;
    margin-left: 10px;
  }
  @include medium-view {
    margin-top: 10px;
  }
}

.navibar__icons {
  @include narrow-view {
    float: right;
  }
}
