<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jan Heuermann">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="yhf1DPiu9P7NoA1YbdXwzzLXG2Oe8a6cY1wGWnLBSkE" />

    {% if page.title and page.subtitle and page.image %}
      {% include twitter_card.html %}
    {% endif %}

    <title>
      {% if page.title %}
        {{ page.title }}
        {% if page.subtitle %}
          – {{ page.subtitle }}
        {% endif %}
      {% else %}
        jotaen.net
      {% endif %}
    </title>

    <link rel="icon" type="image/png" href="/assets/static/favicon.png" />
    <link href="//cloud.webtype.com/css/b8d2a612-d632-460b-a769-5b0c55713f92.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ "/assets/static/main.css" }}">
  </head>

  <body>

    {{content}}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62283896-1', 'auto');
    ga('send', 'pageview');
    </script>

  </body>

</html>
