---
layout: page
---

<header class="post-header" style="background-image:url({{ page.image }})" alt="{{ page.title }}">
  <h1 class="post-header__headline content">
    <span class="post-header__title">{{ page.title }}</span><br>
    <span class="post-header__subtitle">{{ page.subtitle }}</span>
  </h1>
  {% if page.image_info %}
    <div class="post-header__image-info">
      &#8505;
      <p>{{ page.image_info }}</p>
    </div>
  {% endif %}

</header>

<dl class="post-info">
  <dt class="post-info__label">
    Author:
  </td>
  <dd class="post-info__data">
    Jan Heuermann
  </dd>

  <dt class="post-info__label">
    Published:
  </td>
  <dd class="post-info__data">
    {% assign date = page.date %}
    {% include publish_date.html %}
  </dd>

  <dt class="post-info__label screen-hide">
    Retrieved as from:
  </td>
  <dd class="post-info__data screen-hide">
    <script>document.write(new Date().toLocaleString());</script>
  </dd>

  <dt class="post-info__label">
    Reading time:
  </td>
  <dd class="post-info__data">
    {% include reading_time.html %}
  </dd>

  <dt class="post-info__label">
    Permalink:
  </td>
  <dd class="post-info__data">
    <a href="http://{% include shortlink.html %}">{% include shortlink.html %}</a>
  </dd>

  <dt class="post-info__label print-hide">
    Share:
  </td>
  <dd class="post-info__data print-hide">
    ▸ On <a href="{% include share_twitter.html %}" target="_blank">Twitter</a><br>
    ▸ Via <a href="{% include share_email.html %}">E-Mail</a>
  </dd>

  <dt class="post-info__label">
    Tags:
  </td>
  <dd class="post-info__data">
    <ul class="ul--reset">
      {% for tag in page.tags %}
        <li class="tag" title="Tag: {{ tag }}">{{ tag }}</li>
      {% endfor %}
    </ul>
  </dd>
</dl>

<article class="content post-body">

  {{ content }}

</article>
