---
layout: page
---

<article>

  <header class="post-header" style="background-image:url({{ page.image }})" alt="{{ page.title }}">
    <h1 class="post-header__headline content">
      <span class="post-header__title">{{ page.title }}</span><br>
      <span class="post-header__subtitle">{{ page.subtitle }}</span>
    </h1>
    {% if page.image_info %}
      <div class="post-header__image-info">
        &#8505;
        <p>{{ page.image_info }}</p>
      </div>
    {% endif %}

  </header>

  <aside>
    <dl class="post-info">
      <dt class="post-info__label">
        Author:
      </dt>
      <dd class="post-info__data">
        Jan Heuermann
      </dd>

      <dt class="post-info__label">
        Published:
      </dt>
      <dd class="post-info__data">
        {% assign date = page.date %}
        {% include publish_date.html %}
      </dd>

      <dt class="post-info__label screen-hide">
        Retrieved as from:
      </dt>
      <dd class="post-info__data screen-hide">
        <script>document.write(new Date().toLocaleString());</script>
      </dd>

      <dt class="post-info__label">
        Reading time:
      </dt>
      <dd class="post-info__data">
        {% include reading_time.html %}
      </dd>

      <dt class="post-info__label">
        Permalink:
      </dt>
      <dd class="post-info__data">
        <a href="http://{% include shortlink.html %}">{% include shortlink.html %}</a>
      </dd>

      <dt class="post-info__label print-hide">
        Share:
      </dt>
      <dd class="post-info__data print-hide">
        ▸ On <a href="{% include share_twitter.html %}" target="_blank">Twitter</a><br>
        ▸ Via <a href="{% include share_email.html %}">E-Mail</a>
      </dd>

      <dt class="post-info__label">
        Tags:
      </dt>
      <dd class="post-info__data">
        <ul class="ul--reset">
          {% for tag in page.tags %}
            <li class="tag" title="Tag: {{ tag }}">{{ tag }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </aside>

  <main class="content post-body">

    {{ content }}

  </main>

</article>

<footer class="content post-footer">
  <p>
    My name is Jan, I live in Berlin and work as software developer. I’m interested in the entire stack of web development and all topics around it.
  </p>
  
  {% include follow.html %}
</footer>
