---
layout: default
---

<article class="blogpost">

  <header class="blogpost-header" style="background-image:url(src="{{ page.image }}" alt="{{ page.title }}")">
    <h1 class="blogpost-title">{{ page.title }}</h1>
    <h2 class="blogpost-subtitle">{{ page.subtitle }}</h2>
    <dl class="infoblock">
      <dt class="infoblock-published">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
      </dt>
      <dt class="infoblock-link">

      </dt>
      <dt class="infoblock-tags">
        <ul>
          <li><a href="/foo">Foo</a></li>
        </ul>
      </dt>
    </dl>
  </header>

  {{ content }}

</article>
