<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <title>
      {% if page.title %}
        {{ page.title }}&nbsp;•&nbsp;
      {% endif %}
      jotaen
    </title>

    <link href="//cloud.webtype.com/css/b8d2a612-d632-460b-a769-5b0c55713f92.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ "/static/main.css" | prepend: site.baseurl }}">
  </head>

  <body>

    <nav class="site-navigation">
      <a href="/">
        <img src="/static/jotaen.png" alt="jotaen lettering" class="site-logo">
      </a>
      <ul class="ul-reset">
        <li class="icon-container">
          <a href="/">
            <img src="/static/icon_home.png" alt="Home icon" class="icon-image">
          </a>
          <span class="icon-label">Home</span>
        </li>
        <li class="icon-container">
          <!-- <input type="text" name="search" value="" placeholder="Search..." class="searchbox"> -->
          <input type="image" src="/static/icon_search.png" alt="Magnifying glass icon" class="icon-image">
          <span class="icon-label">Search</span>
        </li>
        <li class="icon-container">
          <a href="/about">
            <img src="/static/icon_about.png" alt="Person icon" class="icon-image">
          </a>
          <span class="icon-label">About</span>
        </li>
      </ul>
    </nav>

    {{ content }}

  </body>

</html>
