---
layout: blank
---

<nav class="navibar">
  <a href="/">
    <img src="/assets/static/jotaen.png" alt="jotaen lettering logo" class="navibar__logo">
  </a>
  <ul class="navibar__icons ul--reset">
    <li class="icon icon--navi">
      <a href="/">
        <img src="/assets/static/icon-home.png" alt="Home icon" class="icon__image">
      </a>
      <span class="icon__label icon__label--navi">Home</span>
    </li>
    <li class="icon icon--navi">
      <a href="/search">
        <img src="/assets/static/icon-search.png" alt="Magnifying glass icon" class="icon__image">
      </a>
      <span class="icon__label icon__label--navi">Search</span>
    </li>
    <li class="icon icon--navi">
      <a href="/about">
        <img src="/assets/static/icon-about.png" alt="Person icon" class="icon__image">
      </a>
      <span class="icon__label icon__label--navi">About</span>
    </li>
  </ul>
</nav>

{{ content }}

<script src="/assets/static/scripts.js"></script>
